javarifier.jar
javarifier.zip

TAGS
*~
\#*#
.#*

tests/annotated
tests/*.class
tests/**/*.class
tests/*.diff
tests/**/*.diff
tests/*.log
tests/**/*.log
tests/*.jaif
tests/**/*.jaif
sootOutput

bin/**/*.class
.compile-timestamp

bin/soot
src/soot
